$color-black: #000;
$color-shadow: rgba(255,255,255, .2);
$color-grey: #999;
$color-white: #fff;
$color-red: #e3342f;
$color-green: #38c172;
$color-light-green: #47f08e;
$color-blue: #4caaff;

$ff-poppins: "Poppins", sans-serif;